{% load static %}
<section id="arck-breadcrumb" class="arck-breadcrumb-section-2 position-relative page-title-bg">
    <div class="container">
        <div class="arck-breadcrumb-content position-relative text-center headline-2 ul-li">
            <div class="inner_line">
                <div class="lines_wrapper_small lines_wrapper_1">
                    <svg width="754" height="99" viewBox="0 0 754 99" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="st1"
                            d="M7.00001 93.5L246.545 93.5L211.495 1.00005L472.167 1.00004C480.346 1.00004 487.7 5.97938 490.737 13.5729L510.483 62.9426C512.305 67.4987 516.718 70.4863 521.625 70.4863L753.5 70.4863"
                            stroke="white" stroke-width="2" stroke-dasharray="4 4"></path>
                        <circle cx="5.5" cy="93.5" r="5.5" fill="white"></circle>
                    </svg>
                </div>
                <div class="lines_wrapper_small lines_wrapper_2">
                    <svg width="909" height="124" viewBox="0 0 909 124" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="st2"
                            d="M908.799 1.5H492.972C478.707 1.5 469.029 16.0045 474.503 29.1761L513.5 123L393.15 123C387.019 123 381.505 119.269 379.225 113.578L351.837 45.215C347.429 34.2127 336.769 27 324.917 27H6"
                            stroke="#09a9ac" stroke-width="2"></path>
                        <circle cx="5.5" cy="26.5" r="5.5" fill="#09a9ac"></circle>
                    </svg>
                </div>
            </div>
            <h1 style="color:#fff;" class="geodigit-page-title oldsite-font-h1 text-start">{% block page_title %}{{ page_title_default }}{% endblock %}</h1>
        </div>
    </div>
</section>