{% load static %}
{% load i18n %}
<!-- Digitazition and Documentation -->
<section id="arck-service-details" class="arck-service-details-section">
    <div class="container">
        <div class="arck-service-details-content pt-2">
            <h3 class="oldsite-font-h2 pt-4 pb-4 cl-green">{% translate 'DIGITIZATION AND DOCUMENTATION' %}</h3>
            <div class="row">
                <div class="col-lg-7">
                    <h2 class="oldsite-font text-white font-26 mb-4 badge bg-green">{% translate 'KNOW HOW' %}</h2>
                        <div class="arck-faq-accordion">
                            <div class="accordion" id="accordionExample2">
                                <div class="accordion-item headline-2 pera-content wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                    <h2 class="accordion-header" id="headingOne2">
                                        <button class="accordion-button oldsite-font-h4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true">
                                            {% translate 'Digitization of geodata' %}
                                        </button>
                                    </h2>
                                    <div id="collapseOne2" class="accordion-collapse collapse show" aria-labelledby="headingOne2" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            {% translate 'Digitization involves the process of converting physical maps, drawings, or other analog data into digital formats. This is done to create digital representations of geographic features and information. There are various methods for digitizing geodata, including manual digitization using digitizing tablets, heads-up digitization in GIS software, and automated methods like satellite and aerial imagery analysis. Digitized geodata can be used for mapping, analysis, and visualization in GIS applications, urban planning, environmental monitoring, and more.' %}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item headline-2 pera-content wow fadeInUp" data-wow-delay="200ms" data-wow-duration="800ms">
                                    <h2 class="accordion-header" id="headingTwo2">
                                        <button class="accordion-button oldsite-font-h4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false">
                                            {% translate 'Maintenance and update of existing datasets' %}
                                        </button>
                                    </h2>
                                    <div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            {% translate 'Geospatial datasets need to be regularly maintained and updated to ensure their accuracy and relevance. This involves correcting errors, adding new data, and revising existing information. Updates can be based on field surveys, remote sensing data, user-contributed data, or data from authoritative sources. Updated datasets are crucial for decision-making, disaster response, infrastructure planning, and other applications that rely on accurate geographic information.' %}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item headline-2 pera-content wow fadeInUp" data-wow-delay="300ms" data-wow-duration="800ms">
                                    <h2 class="accordion-header" id="headingThree2">
                                        <button class="accordion-button oldsite-font-h4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="false">
                                            {% translate 'Documentation of linear infrastructure networks' %} 
                                        </button>
                                    </h2>
                                    <div id="collapseThree2" class="accordion-collapse collapse" aria-labelledby="headingThree2" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            {% translate 'Documentation of linear infrastructure networks involves creating detailed records of linear features like roads, railways, pipelines, and utility networks. This documentation can include attribute information such as location, type, condition, maintenance history, and more. Accurate documentation of linear infrastructure is essential for infrastructure management, asset tracking, and maintenance planning.' %}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item headline-2 pera-content wow fadeInUp" data-wow-delay="400ms" data-wow-duration="800ms">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button oldsite-font-h4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false">
                                            {% translate 'Converting analog data to digital formats for use in database and GIS applications' %} 
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            {% translate 'Converting analog data to digital formats involves transforming physical data sources, such as paper maps or photographs, into digital files that can be stored and analyzed in GIS software or databases. This process can include scanning, georeferencing, and manual or automated digitization. Digital formats allow for easier data storage, analysis, and integration into GIS systems, enabling better decision-making and information sharing.' %} 
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item headline-2 pera-content wow fadeInUp" data-wow-delay="500ms" data-wow-duration="800ms">
                                    <h2 class="accordion-header" id="headingFive">
                                        <button class="accordion-button oldsite-font-h4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false">
                                            {% translate 'Network inventory documentation' %} 
                                        </button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            {% translate 'Network inventory documentation is a comprehensive record of an organizations network infrastructure, including hardware, software, and configurations. It serves as a crucial reference for IT professionals, aiding in troubleshooting, upgrades, and maintenance. Accurate and up-to-date documentation enhances efficiency, security, and overall network management.' %} 
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item headline-2 pera-content wow fadeInUp" data-wow-delay="600ms" data-wow-duration="800ms">
                                    <h2 class="accordion-header" id="headingSix">
                                        <button class="accordion-button oldsite-font-h4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false">
                                            {% translate 'Digitization of cadaster analog datasets' %} 
                                        </button>
                                    </h2>
                                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            {% translate 'Digitization of cadaster analog datasets involves converting paper-based land records into digital formats. This process enhances accessibility, efficiency, and data management in land administration. By utilizing advanced technologies, such as GIS, it facilitates faster updates, improves accuracy, and supports effective decision-making in the management of cadastral information.' %} 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="oldsite-font col-lg-5 pt-2 pb-4">
                    <div class="arck-service-details-content-wrap">
                        <div class="arck-service-details-slider">
                            <div class="service-details-img-item">
                                <img src="{% static 'img/gis-services/geoinformation.png' %}" alt="" width="100%">
                            </div>
                            <div class="service-details-img-item">
                                <img src="{% static 'img/gis-services/geoinformation2.jpg' %}" alt="" width="100%">
                            </div>
                            <div class="service-details-img-item">
                                <img src="{% static 'img/gis-services/geoinformation3.jpg' %}" alt="" width="100%">
                            </div>
                            <div class="service-details-img-item">
                                <img src="{% static 'img/gis-services/geoinformation4.jpg' %}" alt="" width="100%">
                            </div>
                            <div class="service-details-img-item">
                                <img src="{% static 'img/gis-services/geoinformation5.jpg' %}" alt="" width="100%">
                            </div>
                            <div class="service-details-img-item">
                                <img src="{% static 'img/gis-services/geoinformation6.jpg' %}" alt="" width="100%"> 
                            </div>
                            <div class="service-details-img-item">
                                <img src="{% static 'img/gis-services/geoinformation8.png' %}" alt="" width="100%">
                            </div>
                            <div class="service-details-img-item">
                                <img src="{% static 'img/gis-services/geoinformation9.jpg' %}" alt="" width="100%">
                            </div>
                            <div class="service-details-img-item">
                                <img src="{% static 'img/gis-services/geoinformation10.jpg' %}" alt="" width="100%">
                            </div>
                            <div class="service-details-img-item">
                                <img src="{% static 'img/gis-services/geoinformation11.jpg' %}" alt="" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Linear Infrastructure -->
<section id="archx-before-after" class="archx-before-after-section position-relative"
    data-background="{% static 'img/gis-services/before-after-bg.png' %}">
    <span class="archx-before-after-shape position-absolute"><img src="{% static 'img/gis-services/world-lines_1.png' %}"
            alt="" width="750"></span>
    <div class="container">
        <div class="archx-section-title text-center headline-2 wow fadeInUp" data-wow-delay="200ms"
            data-wow-duration="1500ms">
            <h2>{% translate 'Digitization and documentation of linear infrastructure represent the core business of' %} 
                <span> {% translate 'GeoDigit' %} </span> {% translate 'from the start.' %}</h2>
        </div>
        <div class="archx-before-after-content">
            <div class="row align-items-center">
                <div class="col-lg-2">
                    <div class="archx-before-after-tab-btn position-relative ul-li-block">
                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-telecom1-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-telecom1" type="button" role="tab" aria-controls="pills-telecom1"
                                    aria-selected="true">{% translate 'Telecommunications networks' %} (AutoCAD Map 3D)</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-telecom2-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-telecom2" type="button" role="tab" aria-controls="pills-telecom2"
                                    aria-selected="true">{% translate 'Telecommunications networks' %} (AutoCAD Map 3D)</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-sisnet1-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-sisnet1" type="button" role="tab"
                                    aria-controls="pills-sisnet1" aria-selected="false">{% translate 'Electric power networks' %} (Bentley sisNET)</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-sisnet2-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-sisnet2" type="button" role="tab"
                                    aria-controls="pills-sisnet2" aria-selected="false">{% translate 'Electric power networks' %} (Bentley sisNET)</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="archx-before-after-img-wrapper">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-telecom1" role="tabpanel"
                                aria-labelledby="pills-telecom1-tab">
                                <div class="twentytwenty-container beforeafter-wrap">
                                    <div class="arck-before-item before-after-item position-relative">
                                        <img src="{% static 'img/gis-services/TopobaseR.png' %}" alt="">
                                    </div>
                                    <div class="arck-after-item before-after-item position-relative">
                                        <img src="{% static 'img/gis-services/TopobaseS.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-telecom2" role="tabpanel"
                                aria-labelledby="pills-telecom2-tab">
                                <div class="twentytwenty-container beforeafter-wrap">
                                    <div class="arck-before-item before-after-item position-relative">
                                        <img src="{% static 'img/gis-services/Topobase_2_1.png' %}" alt="">
                                    </div>
                                    <div class="arck-after-item before-after-item position-relative">
                                        <img src="{% static 'img/gis-services/Topobase_1_1.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-sisnet1" role="tabpanel"
                                aria-labelledby="pills-sisnet1-tab">
                                <div class="twentytwenty-container beforeafter-wrap">
                                    <div class="arck-before-item before-after-item position-relative">
                                        <img src="{% static 'img/gis-services/SisNetFR.png' %}" alt="">
                                    </div>
                                    <div class="arck-after-item before-after-item position-relative">
                                        <img src="{% static 'img/gis-services/SisNetFS.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-sisnet2" role="tabpanel"
                                aria-labelledby="pills-sisnet2-tab">
                                <div class="twentytwenty-container beforeafter-wrap">
                                    <div class="arck-before-item before-after-item position-relative">
                                        <img src="{% static 'img/gis-services/sisnetraster.png' %}" alt="">
                                    </div>
                                    <div class="arck-after-item before-after-item position-relative">
                                        <img src="{% static 'img/gis-services/sisnetdigital.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Gis Software in Daily Work -->
<section id="archx-service" class="archx-service-section" style="padding-bottom: 80px;">
    <div class="archx-service-content container">
        <div class="row">
            <h2 class="oldsite-font-h2 pb-5 main-color fadeInUp text-center" data-wow-delay="" data-wow-duration="1500ms"
            style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInUp;">{% translate 'GIS SOFTWARE APPLIED IN OUR DAILY WORK' %}</h2>
            <div class="col-lg-12">
                <div class="archx-service-item-content">
                    <div class="row">
                        <div class="col-xl-3 col-md-6 wow fadeInUp mb-3" data-wow-delay="" data-wow-duration="1500ms"
                            style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInUp;">
                            <a href="https://www.ge.com/digital/applications/smallworld-gis-geospatial-asset-management" target="_blank">
                                <div class="archx-service-item d-flex flex-column justify-content-start gis-software-card">
                                    <span class="text-center pb-2">
                                        <img src="{% static 'img/gis-software/Ge-Smallworld.png' %}" alt="" width="51wv">
                                    </span>
                                    <div class="text-center service-title-text headline-2 pera-content">
                                        <h3>GE SMALLWORLD</h3>
                                        <p style="letter-spacing: 0.1rem;">{% translate 'Software solutions designed for utility and telecommunications companies.' %}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-3 col-md-6 wow fadeInUp mb-3" data-wow-delay="" data-wow-duration="1500ms"
                            style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInUp;">
                            <a href="https://www.arcgis.com/index.html"  target="_blank"> 
                                <div class="archx-service-item d-flex flex-column justify-content-start gis-software-card">
                                    <span class="text-center pb-2">
                                        <img src="{% static 'img/gis-software/Esri-ArcGis.png' %}" alt="" width="95wv">
                                    </span>
                                    <div class="text-center service-title-text headline-2 pera-content">
                                        <h3>ARCGIS</h3>
                                        <p style="letter-spacing: 0.1rem;">{% translate 'Geospatial software for mapping, spatial analysis, and location data management.' %}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-3 col-md-6 wow fadeInUp mb-3" data-wow-delay="" data-wow-duration="1500ms"
                            style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInUp;">
                            <a href="https://www.autodesk.com/solutions/3d-mapping-software" target="_blank">
                                <div class="archx-service-item d-flex flex-column justify-content-start gis-software-card">
                                    <span class="text-center pb-2">
                                        <img src="{% static 'img/gis-software/Autodesk.png' %}" alt="" width="65wv">
                                    </span>
                                    <div class="text-center service-title-text headline-2 pera-content">
                                        <h3>AUTOCAD MAP 3D</h3>
                                        <p style="letter-spacing: 0.1rem;">{% translate 'Comprehensive CAD software tailored for GIS mapping and infrastructure design.' %}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-3 col-md-6 wow fadeInUp mb-3" data-wow-delay="" data-wow-duration="1500ms"
                            style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInUp;">
                            <a href="https://www.fntsoftware.com/en/products/fnt-command" target="_blank">
                                <div class="archx-service-item d-flex flex-column justify-content-start gis-software-card">
                                    <span class="text-center pb-2">
                                        <img src="{% static 'img/gis-software/Logo_Command.svg' %}" alt="" width="103wv">
                                    </span>
                                    <div class="text-center service-title-text headline-2 pera-content">
                                        <h3>FNT COMMAND</h3>
                                        <p style="letter-spacing: 0.1rem;">{% translate 'Streamlines IT and telecom infrastructure with robust asset and configuration management.' %}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-3 col-md-6 wow fadeInUp mb-3" data-wow-delay="" data-wow-duration="1500ms"
                            style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInUp;">
                            <a href="https://communities.bentley.com/" target="_blank">
                                <div class="archx-service-item d-flex flex-column justify-content-start gis-software-card">
                                    <span class="text-center pt-1">
                                        <img src="{% static 'img/gis-software/Bentley-sisnet.png' %}" alt="" width="145wv" style="padding-bottom: 18px;">
                                    </span>
                                    <div class="text-center service-title-text headline-2 pera-content">
                                        <h3>SISNET V8</h3>
                                        <p style="letter-spacing: 0.1rem;">{% translate 'Powerful solution for managing and analyzing spatial infrastructure data.' %}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-3 col-md-6 wow fadeInUp mb-3" data-wow-delay="" data-wow-duration="1500ms"
                            style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInUp;">
                            <a href="https://support.vertigis.com/hc/en-us" target="_blank">
                                <div class="archx-service-item d-flex flex-column justify-content-start gis-software-card">
                                    <span class="text-center pb-2">
                                        <img src="{% static 'img/gis-software/VertiGis-ConnMaster.png' %}" alt="" width="90wv">
                                    </span>
                                    <div class="text-center service-title-text headline-2 pera-content">
                                        <h3>VERTIGIS</h3>
                                        <p style="letter-spacing: 0.1rem;">{% translate 'An advanced solution for utility network management and geospatial integration.' %}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-3 col-md-6 wow fadeInUp mb-3" data-wow-delay="" data-wow-duration="1500ms"
                            style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInUp;">
                            <a href="https://www.qgis.org/en/site/" target="_blank">
                                <div class="archx-service-item d-flex flex-column justify-content-start gis-software-card">
                                    <span class="text-center pb-2">
                                        <img src="{% static 'img/gis-software/QGIS.png' %}" alt="" width="100wv" style="padding-top: 5px; padding-bottom: 10px;">
                                    </span>
                                    <div class="text-center service-title-text headline-2 pera-content">
                                        <h3>QGIS</h3>
                                        <p style="letter-spacing: 0.1rem;">{% translate 'Free and open-source geographic information system for mapping and analysis.' %}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-3 col-md-6 wow fadeInUp mb-3" data-wow-delay="" data-wow-duration="1500ms"
                            style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInUp;">
                            <a href="https://geonode.org/" target="_blank">
                                <div class="archx-service-item d-flex flex-column justify-content-start gis-software-card">
                                    <span class="text-center pb-2">
                                        <img src="{% static 'img/gis-software/Geonode.png' %}" alt="" width="105wv" style="padding-top: 5px; padding-bottom: 10px;">
                                    </span>
                                    <div class="text-center service-title-text headline-2 pera-content">
                                        <h3>GEONODE</h3>
                                        <p style="letter-spacing: 0.1rem;">{% translate 'Open-source platform for creating, sharing, and managing geospatial data and maps.' %}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>