body {
    /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
    overflow-x: hidden;
    min-height: 100vh;
    /* If you want to change the site height you can remove overflow-y */
    /* pureSnow will automatically detect height of body tag */
    /* overflow-y: hidden; */
    color: white;
  }
  
  .snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: transparent; /* Set background to transparent for visibility */
    /* Workaround for Chromium's selective color inversion */
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
    opacity: 0.9; /* Set opacity for better visibility */
    z-index: 999;
    user-select: none; /* Prevent snowflakes from being selectable */
  }
