{% load static %}
{% load i18n %}
<section id="arck-sponsor" class="arck-sponsor-section wow fadeInUp" data-wow-delay="200ms" data-wow-duration="2000ms">
    <div class="d-flex justify-content-center">
        <div class="headline-2  wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
            <h2 class="oldsite-font-h1 cl-green d-flex justify-content-center text-center text-decoration-underline mainpage-blog-headline">
                <span style="line-height: 1.5;">{% translate 'OUR CLIENTS AND PARTNERS' %}</span>
            </h2>
            <p class="text-center font-24 cl-blue">{%translate 'Our long-term satisfied clients are proof of our quality and expertise.' %}</p>
        </div>
    </div>
    <h2><span></span></h2>
    <div class="container">
        <div class="arck-sponsor-slider mt-5 p-2">
            <div class="arck-sponsor-slider-item">
                <img src="{% static 'img/clients/03_vodafone.png' %}" alt="vodafone" width="180">
            </div>
            <div class="arck-sponsor-slider-item pt-5">
                <img src="{% static 'img/clients/01_kabelbw.svg' %}" alt="kabelbw" width="220" >
            </div>
            <div class="arck-sponsor-slider-item pt-2">
                <img src="{% static 'img/clients/02_unitymedia.svg' %}" alt="unitymedia" width="180">
            </div>
            <div class="arck-sponsor-slider-item pt-4">
                <img src="{% static 'img/clients/18_Logo_klenk_und_Sohn.png' %}" alt="Logo_klenk_und_Sohn" width="150">
            </div>
            <div class="arck-sponsor-slider-item pt-5">
                <img src="{% static 'img/clients/Logo_NetCom_BW.svg.png' %}" alt="Logo_NetCom_BW" width="250">
            </div>
            <div class="arck-sponsor-slider-item pt-4">
                <img src="{% static 'img/clients/04_wesernetz.svg' %}" alt="wesernetz" width="230">
            </div>
            <div class="arck-sponsor-slider-item pt-4">
                <img src="{% static 'img/clients/05_tdcGroup.svg' %}" alt="tdcGroup" width="210">
            </div>
            <div class="arck-sponsor-slider-item pt-3">
                <img src="{% static 'img/clients/06_roaming.svg' %}" alt="roaming" width="160">
            </div>
            <div class="arck-sponsor-slider-item pt-5">
                <img src="{% static 'img/clients/07_TelekomSrbija.svg' %}" alt="TelekomSrbija" width="230">
            </div>
            <div class="arck-sponsor-slider-item pt-5">
                <img src="{% static 'img/clients/08_EPS.svg' %}" alt="EPS" width="230">
            </div>
            <div class="arck-sponsor-slider-item pt-4">
                <img src="{% static 'img/clients/09_McDonalds.svg' %}" alt="McDonalds" width="120">
            </div>
            <div class="arck-sponsor-slider-item pt-4">
                <img src="{% static 'img/clients/11_A1.svg' %}" alt="A1" width="90">
            </div>
            <div class="arck-sponsor-slider-item pt-5">
                <img src="{% static 'img/clients/13_srem-gas.png' %}" alt="srem-gas" width="230" >
            </div>
            <div class="arck-sponsor-slider-item">
                <img src="{% static 'img/clients/17_beograd.png' %}" alt="beograd" width="170" >
            </div>
            <div class="arck-sponsor-slider-item pt-2">
                <img src="{% static 'img/clients/15_entega.png' %}" alt="entega" width="150">
            </div>
            <div class="arck-sponsor-slider-item ">
                <img src="{% static 'img/clients/16_buhn_netzinfo.png' %}" alt="buhn_netzinfo" width="170">
            </div>
            <div class="arck-sponsor-slider-item">
                <img src="{% static 'img/clients/12_sremska_mitrovica.png' %}" alt="sremska_mitrovica" width="150" >
            </div>
            <div class="arck-sponsor-slider-item pt-5">
                <img src="{% static 'img/clients/10_Europetrol.svg' %}" alt="Europetrol" width="90">
            </div>
        </div>
        
        
    </div>
</section>	
<div class="pb-5">
    <div class="archx-blog-more-btn d-flex justify-content-center">
        <a class="d-flex justify-content-center align-items-center oldsite-font font-20" href="{% url 'references' %}">{% translate 'See Our References' %}<i class="fal fa-long-arrow-right"></i></a>
    </div>
</div>