{% load static %}
{% load i18n %}
<section id="archx-service-2" class="archx-service-section-2 position-relative">
    <div class="container">
        <div class="col-lg-12">
            <div class="row">
                <div class="archx-service-top-content-2 d-flex justify-content-between">
                    <div class="col-lg-4 col-md-12">
                        <div class="archx-section-title headline-2">
                            <h2 class="oldsite-font-h2" style="padding-top: 25px; padding-bottom: 28px;">{% translate 'GIS Solution' %}</h2>
                            <p class="cl-blue font-16 " style="font-weight: 700;">
                                {% translate 'If you need a GIS solution that will be customized according to your requirements, then GeoDigit is the right company for you.' %}
                            </p>
                            <p class="cl-blue font-16" style="font-weight: 700;">
                                {% translate 'Using the latest technology, we provide for our clients a way to obtain, with reasonable investments of time and money, a GIS solution that will be beneficial both to their company’s technical staff and to their management in making important decisions.' %}
                            </p>
                        </div>
                    </div>
                    <div id="app-coding-card" class="col-lg-2 col-md-3 card-dev icon-link location-link" 
                        data-src-default="{% static 'icon/coding.png' %}" data-src-hover="{% static 'icon/coding.gif' %}">
                        <div class="archx-feature-item position-relative top-service-item  wow fadeInUp"
                            data-wow-delay="200ms" data-wow-duration="1500ms">
                            <img id="app-development-icon" src="{% static 'icon/coding.png' %}" width="64px">
                            <div class="archx-feature-text headline-2 pera-content">
                                <h4 class="pb-3 pt-3">
                                    <a class="oldsite-font-h4-green" href="#">{% translate 'App Development' %}</a>
                                </h4>
                                <p class="cl-blue font-16"> 
                                    {% translate 'We offers App Development services, creating customized software solutions that align with your goals and drive digital transformation for your business.' %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="app-transfer-card" class="col-lg-2 col-md-3 card-dev icon-link location-link" 
                        data-src-default="{% static 'icon/file-transfer.png' %}" data-src-hover="{% static 'icon/file-transfer.gif' %}">
                        <div class="archx-feature-item position-relative top-service-item wow fadeInUp" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                                <img id="app-transfer-icon" src="{% static 'icon/file-transfer.png' %}" width="64px">
                            <div class="archx-feature-text headline-2 pera-content">
                                <h4 class="pb-1 pt-1 px-3">
                                    <a class="oldsite-font-h4-green" href="#">{% translate 'GIS data transformation and processing' %} </a>
                                </h4>
                                <p class="cl-blue font-16">
                                    {% translate 'We provide GIS data transformation and processing services, converting and enhancing geospatial data to unlock valuable insights for your projects.' %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="app-interface-card" class="col-lg-2 col-md-3 card-dev icon-link location-link" 
                        data-src-default="{% static 'icon/interface.png' %}" data-src-hover="{% static 'icon/interface.gif' %}">
                        <div class="archx-feature-item position-relative wow fadeInUp" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                                <img id="app-interface-icon" src="{% static 'icon/interface.png' %}" width="64px">
                            <div class="archx-feature-text headline-2 pera-content">
                                <h4 class="pb-3 pt-3">
                                    <a class="oldsite-font-h4-green" href="#">{% translate 'Desktop and WEB solutions' %}</a>
                                </h4>
                                <p class="cl-blue font-16">
                                    {% translate 'We create desktop and web solutions, providing versatile software applications to meet your needs, whether in the office or online.' %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="archx-service-top-content-2 d-flex justify-content-between mt-5">
                    <div id="app-server-card" class="col-lg-3 col-md-3 card-dev icon-link location-link" 
                        data-src-default="{% static 'icon/server.png' %}" data-src-hover="{% static 'icon/server.gif' %}">
                        <div class="archx-feature-item position-relative wow fadeInUp" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="position-relative">
                                <img id="app-server-icon" src="{% static 'icon/server.png' %}" width="64px">
                            </div>
                            <div class="archx-feature-text headline-2 pera-content">
                                <h4 class="pb-3 pt-3">
                                    <a class="oldsite-font-h4-green" href="#">{% translate 'Geodatabase development' %}</a>
                                </h4>
                                <p  class="cl-blue font-16">
                                    {% translate 'We specialize in Geodatabase development, creating and optimizing structured spatial databases management and analysis.' %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="app-chart-card" class="col-lg-3 col-md-3 card-dev icon-link location-link" 
                        data-src-default="{% static 'icon/pie-chart.png' %}" data-src-hover="{% static 'icon/pie-chart.gif' %}">
                        <div class="archx-feature-item position-relative  wow fadeInUp" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="position-relative">
                                <img id="app-chart-icon" src="{% static 'icon/pie-chart.png' %}" width="64px">
                            </div>
                            <div class="archx-feature-text headline-2 pera-content">
                                <h4 class="pb-3 pt-3">
                                    <a class="oldsite-font-h4-green" href="#">{% translate 'GIS analysis' %}</a>
                                </h4>
                                <p class="cl-blue font-16">
                                    {% translate 'We provide GIS analysis development services, crafting custom solutions to extract valuable insights from your geospatial data.' %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4" >
                    <div class="archx-work-process-system" style="height: 360px;" data-background="{% static 'img/background/shape.png' %}">
                        <div class="archx-work-process-system-content">
                            <h3 class="oldsite-font-h3 cl-green text-center">{% translate 'GIS TECHNOLOGIES AND TOOLS' %}</h3>
                            <div class="archx-work-process-title headline-2">
                            </div>
                            <div class="archx-work-process-system-slider">
                                <div class="archx-work-process-item-wrap">
                                    <div class="archx-work-process-item">
                                        <div class="archx-work-porcess-icon-serial d-flex align-items-center justify-content-center">
                                            <div class="archx-work-porcess-icon d-flex align-items-center justify-content-center">
                                                <img src="{% static 'img/gis-software/Geoserver.png' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="archx-work-process-text headline-2 pera-content">
                                            <p class="cl-blue font-16 text-center">{% translate 'Open-source server software for sharing geospatial data online.' %}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="archx-work-process-item-wrap">
                                    <div class="archx-work-process-item">
                                        <div class="archx-work-porcess-icon-serial d-flex align-items-center justify-content-center">
                                            <div class="archx-work-porcess-icon d-flex align-items-center justify-content-center">
                                                <img src="{% static 'img/gis-software/PostgreSQL.png' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="archx-work-process-text headline-2 pera-content">
                                            <p class="cl-blue font-16 text-center">{% translate 'Open-source relational database management system known for its reliability.' %}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="archx-work-process-item-wrap">
                                    <div class="archx-work-process-item">
                                        <div class="archx-work-porcess-icon-serial d-flex align-items-center justify-content-center">
                                            <div class="archx-work-porcess-icon d-flex align-items-center justify-content-center">
                                                <img src="{% static 'img/gis-software/Python.png' %}" alt="">
                                            </div>
                                            <div class="archx-work-porcess-icon d-flex align-items-center justify-content-center">
                                                <img src="{% static 'img/gis-software/JavaScript.png' %}" alt="">
                                            </div>
                                            <div class="archx-work-porcess-icon d-flex align-items-center justify-content-center">
                                                <img src="{% static 'img/gis-software/C#.png' %}" alt="">
                                            </div>
                                            <div class="archx-work-porcess-icon d-flex align-items-center justify-content-center">
                                                <img src="{% static 'img/gis-software/C++.png' %}" alt="">
                                            </div>
                                            <div class="archx-work-porcess-icon d-flex align-items-center justify-content-center">
                                                <img src="{% static 'img/gis-software/SQL.svg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="archx-work-process-text headline-2 pera-content">
                                            <p class="cl-blue font-16 text-center">{% translate 'Python, JavaScript, C#, C++ and SQL are versatile programming languages used for various applications, from web development to data analysis.' %}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="archx-work-process-item-wrap">
                                    <div class="archx-work-process-item">
                                        <div class="archx-work-porcess-icon-serial d-flex align-items-center justify-content-center">
                                            <div class="archx-work-porcess-icon d-flex align-items-center justify-content-center">
                                                <img src="{% static 'img/gis-software/Django.png' %}" alt="">
                                            </div>
                                            <div class="archx-work-porcess-icon d-flex align-items-center justify-content-center" style="width:90px">
                                                <img src="{% static 'img/gis-software/Flask.png' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="archx-work-process-text headline-2 pera-content">
                                            <p class="cl-blue font-16 text-center">{% translate 'Django and Flask are popular Python web frameworks for building dynamic, robust, and scalable web applications.' %}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="archx-work-process-item-wrap">
                                    <div class="archx-work-process-item">
                                        <div class="archx-work-porcess-icon-serial d-flex align-items-center justify-content-center">
                                            <div class="archx-work-porcess-icon d-flex align-items-center justify-content-center" style="width: 120px;">
                                                <img src="{% static 'img/gis-software/ReactRedux.jpg' %}"  alt="">
                                            </div>
                                            <div class="archx-work-porcess-icon d-flex align-items-center justify-content-center" style="width: 60px;">
                                                <img src="{% static 'img/gis-software/jQuery.png' %}" alt="">
                                            </div>
                                            <div class="archx-work-porcess-icon d-flex align-items-center justify-content-center">
                                                <img src="{% static 'img/gis-software/Leaflet.png' %}" alt="">
                                            </div>
                                            <div class="archx-work-porcess-icon d-flex align-items-center justify-content-center">
                                                <img src="{% static 'img/gis-software/OpenLayers.png' %}" alt="" >
                                            </div>
                                        </div>
                                        <div class="archx-work-process-text headline-2 pera-content">
                                            <p class="cl-blue font-16 text-center">{% translate 'React, Redux, jQuery, Leaflet, and OpenLayers are popular JavaScript libraries for creating interactive web maps and spatial applications with rich user experiences.' %}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="archx-work-process-item-wrap">
                                    <div class="archx-work-process-item">
                                        <div class="archx-work-porcess-icon-serial d-flex align-items-center justify-content-center">
                                            <div class="archx-work-porcess-icon d-flex align-items-center justify-content-center">
                                                <img src="{% static 'img/gis-software/Docker.png' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="archx-work-process-text headline-2 pera-content">
                                            <p class="cl-blue font-16 text-center">
                                                {% translate 'Docker is a platform for developing, shipping, and running applications in lightweight, portable containers, streamlining deployment and scaling.' %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="archx-work-process-item-wrap">
                                    <div class="archx-work-process-item">
                                        <div class="archx-work-porcess-icon-serial d-flex align-items-center justify-content-center">
                                            <div class="archx-work-porcess-icon d-flex align-items-center justify-content-center" style="width: 120px;">
                                                <img src="{% static 'img/gis-software/QGIS.png' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="archx-work-process-text headline-2 pera-content">
                                            <p class="cl-blue font-16 text-center">
                                                {% translate 'Open-source GIS software for mapping, analysis, and geospatial data management.' %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="archx-work-process-item-wrap">
                                    <div class="archx-work-process-item">
                                        <div class="archx-work-porcess-icon-serial d-flex align-items-center justify-content-center">
                                            <div class="archx-work-porcess-icon d-flex align-items-center justify-content-center" style="width: 120px;">
                                                <img src="{% static 'img/gis-software/Geonode.png' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="archx-work-process-text headline-2 pera-content">
                                            <p class="cl-blue font-16 text-center">
                                                {% translate 'Open-source platform for creating, sharing, and managing geospatial data, facilitating collaborative mapping and data sharing.' %}                                  
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div> 
        </div>
    </div>
  
</section>
<span class="about-bg position-absolute" style="z-index: -1; ">
    <img src="{% static 'img/background/shape.png' %}">
    <img src="{% static 'img/background/shape.png' %}">
</span>


<section id="arck-project-2" class="arck-project-section-2">
    <div class="container">
        <div class="arck-project-top-content d-flex justify-content-center align-items-center">
            <div class="arck-section-title headline pera-content">
                <h2 class="oldsite-font-h2 text-center">{% translate 'Tailored GIS Solutions' %}</h2>
            </div>
        </div>
    </div>
    <div class="arck-project-filter-content mb-5 pb-5">
        <div class="filtr-container-area grid clearfix" data-isotope="{ &quot;masonry&quot;: { &quot;columnWidth&quot;: 0 } }">
            <div class="grid-sizer"></div>
            <div class="grid-item grid-size-50 interiors design gap-2" data-category="interiors design">
                <div class="arck-project-item-2 position-relative ">
                    <div class="inner-img">
                        <img src="{% static 'img/gis-development/TelekomNetwork_1.png' %}" alt="">
                    </div>
                    <div class="telekom-network inner-text headline pera-content">
                        <h3 class="oldsite-font text-center">
                            {% translate 'TELEKOM NETWORK INVENTORY FUNCTIONALITIES' %}
                        </h3>
                        <ul class="d-flex justify-content-center align-items-start flex-column gap-2 text-white font-16">
                            <li>
                                {% translate 'Georeferenced positions of routes and technical locations' %}
                            </li>
                            <li>
                                {% translate 'Cable network overview' %}
                            </li>
                            <li>
                                {% translate 'Pipeline network overview' %}
                            </li>
                            <li>
                                {% translate 'Update and Maintenance Network Documentations (Redlining)' %}
                            </li>
                            <li>
                                {% translate 'Creating reports about network data' %} 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid-item grid-size-50 house_exterior design" data-category="house_exterior design">
                <div class="arck-project-item-2 position-relative">
                    <div class="inner-img">
                        <img src="{% static 'img/gis-development/Geonode2.png' %}" alt="">
                    </div>
                    <div class="gas-pipeline inner-text headline pera-content">
                        <h3 class="oldsite-font text-center">{% translate 'GAS PIPELINE INFRASTRUCTURE DATA MANAGEMENT FUNCTIONALITIES' %}</h3>
                        <div class="row">
                            <div class="col-6">
                                <ul class="d-flex justify-content-center align-items-start flex-column gap-2 text-white font-16">
                                    <li>
                                        {% translate 'Network data entry' %} 
                                    </li>
                                    <li>
                                        {% translate 'End-user management' %}
                                    </li>
                                    <li>
                                        {% translate 'Monitoring and measuring network capacity' %}
                                    </li>
                                    <li>
                                        {% translate 'Reports on measurement and control of cathodic protection parameters' %} 
                                    </li>
                                    <li>
                                        {% translate 'Technical documentation management' %}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="d-flex justify-content-center align-items-start flex-column gap-2 text-white font-16">                                  
                                    <li>
                                        {% translate 'WEB, mobile and desktop applications' %}
                                    </li>
                                    <li>
                                        {% translate 'Management of user privileges' %}
                                    </li>
                                    <li>
                                        {% translate 'Supply zones' %}
                                    </li>
                                    <li>
                                        {% translate 'Home measuring control sets' %}
                                    </li>
                                    <li>
                                        {% translate 'Flow metering stations' %} 
                                    </li>
                                    <li>
                                        {% translate 'Monitoring application performance' %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item grid-size-50 building design" data-category="building design">
                <div class="arck-project-item-2 position-relative">
                    <div class="inner-img">
                        <img src="{% static 'img/gis-development/HeadendInventory_1.png' %}" alt="">
                    </div>
                    <div class="headed-inventory inner-text headline pera-content">
                        <h3 class="oldsite-font text-center mt-5">{% translate 'HEADEND INVENTORY MANAGEMENT SYSTEM' %}</h3>
                        <ul class="d-flex justify-content-center align-items-start flex-column gap-2 px-4 text-white font-16">
                            <li>
                                {% translate 'Data Management' %} 
                            </li>
                            <li>
                                {% translate 'Overview of Head-ends and technical locations on the map' %}  
                            </li>
                            <li>
                                {% translate 'Overview of racks in all rooms' %}
                            </li>
                            <li>
                                {% translate 'Detailed list of equipment in the racks' %}
                            </li>
                            <li>
                                {% translate 'List of SLA contracts with all the necessary information' %}
                            </li>
                            <li>
                                {% translate 'List of cards and SFP connectors' %}
                            </li>
                            <li>
                                {% translate 'Details of contracts and leases' %}
                            </li>
                            <li>
                                {% translate 'Reports on the state of equipment, expiration of contracts, warranty, connections, services per clients' %}
                            </li>
                            <li>
                                {% translate 'List of IP addresses in use' %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid-item grid-size-50 interiors design" data-category="interiors design">
                <div class="arck-project-item-2 position-relative">
                    <div class="inner-img">
                        <img src="{% static 'img/gis-development/WaterSupply_1.png' %}" alt="">
                    </div>
                    <div class="water-supply inner-text headline pera-content">
                        <h3 class="oldsite-font text-center">
                            {% translate 'WATER SUPPLY NETWORK FUNCTIONALITIES' %}
                        </h3>
                        <ul class="d-flex justify-content-center align-items-start flex-column gap-3 text-white font-16"> 
                            <li>
                                {% translate 'Georeferenced positions of infrastructure' %} 
                            </li>
                            <li>
                                {% translate 'Display of attributes of network elements (pipes, manholes, house connections)' %}
                            </li>
                            <li>
                                {% translate 'Reporting related to materials, customers …' %} 
                            </li>
                            <li>
                                {% translate 'Visualization of network objects (hydrants, fittings and manholes)' %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

	